@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap");

:root {
  --light-grey: hsl(0, 0%, 81%);
  --grayish-blue: hsl(210, 46%, 95%);
  --white: hsl(0, 0%, 100%);
  --blackish-blue: hsl(219, 29%, 14%);
  --grayish-blue: hsl(217, 19%, 35%);
  --violet: hsl(263, 55%, 52%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  font-weight: 600;
  padding: 2rem;
}

.container {
  margin: auto;
}

.testimonials {
  display: grid;
  grid-template-areas:
    "c1 c1 c1 c1 c2 c5"
    "c3 c4 c4 c4 c4 c5";
  grid-gap: 2rem;
}
.c-1 {
  grid-area: c1;
}
.c-2 {
  grid-area: c2;
}
.c-3 {
  grid-area: c3;
}
.c-4 {
  grid-area: c4;
}
.c-5 {
  grid-area: c5;
}

.card-design {
  position: relative;
  padding: 1.3rem;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15), -5px -5px 5px rgba(0, 0, 0, 0.13);
  transition: all 0.5s ease;
}

.card-design .svg-quotes {
  position: absolute;
  top: 0;
  right: 15%;
}

.card-design .avatar {
  display: flex;
  align-items: center;
}

.card-design .avatar img {
  border-radius: 50%;
  border: 2px solid var(--light-grey);
  margin-right: 10px;
}

.card-design .avatar-name .name {
  color: var(--white);
  font-weight: 600;
}

.card-design .avatar-name .avatar-des {
  color: var(--white);
  opacity: 50%;
  font-weight: 500;
}

.card-design .title {
  color: var(--white);
  font-size: 1.1rem;
  padding: 1.5rem 0 1.5rem 0;
  font-weight: 500;
}

.card-design .paragraph p {
  font-size: 1.1rem;
  color: var(--white);
  opacity: 75%;
  font-weight: 500;
}

.card-1 {
  background: var(--violet);
}

.card-2 {
  background: var(--grayish-blue);
}

.card-3 {
  background: var(--white);
}

.card-3 .avatar-name .name {
  color: var(--grayish-blue);
  font-weight: 600;
}

.card-3 .avatar-name .avatar-des {
  color: var(--grayish-blue);
  opacity: 50%;
  font-weight: 500;
}

.card-3 .title {
  color: var(--grayish-blue);
  font-size: 1.1rem;
  font-weight: 600;
}

.card-3 .paragraph p {
  font-size: 1.1rem;
  color: var(--grayish-blue);
  opacity: 75%;
  font-weight: 500;
}

.card-4 {
  background: var(--blackish-blue);
}

@media (max-width: 760px) {
  .testimonials {
    grid-template-areas:
      "c1"
      "c2"
      "c3"
      "c4"
      "c5";
  }
  .card-design .svg-quotes {
    right: 2%;
  }
}
